STAGE=dev
##Server
PORT=3000
HOST_API=http://localhost:3000/api
##Database
DB_NAME=teslo_shop
DB_USER=teslo_user
DB_PASSWORD=myaleatorypassword
DB_HOST=localhost
DB_PORT=5432
##Security
JWT_TESLO_SECRET=mysecretkey1234568