STAGE=dev
##Server
PORT=3000
HOST_API=http://localhost:3000/api
##Database
DB_TESLO_NAME=teslo_shop
DB_TESLO_USER=teslo_user
DB_TESLO_PASSWORD=myaleatorypassword
DB_TESLO_HOST=localhost
DB_TESLO_PORT=5432
##Security
JWT_TESLO_SECRET=mysecretkey1234568